.g-bg{
    background-image: url('../../../assets/G.png');
    background-repeat: no-repeat;
    background-size: 30%;
    background-position: center;
    height: 100%;
    margin: 40px 0;
}

.about-container{
    text-align: right;
}

.history-container{
    text-align: left;
}

.about-header{
    font-size: 64px;
    font-weight: 600;
    line-height: 83px;
    
}

.highlight-about {
  position: relative;
}

.highlight-about::after {
  content: url("../../../assets/spoon.png");
  transform: scaleX(-1);
  width: 50%;
  position: absolute;
  right: 0;
  top: 30%;
  z-index: 1;
}

.highlight-history {
  position: relative;
}

.highlight-history::after {
  content: url("../../../assets/spoon.png");
  width: 50%;
  position: absolute;
  left: 0;
  top: 30%;
  z-index: 1;
}

@media screen and (max-width: 980px) {
  
  .g-bg{
    height: 0;
  }

  .about-container{
    text-align: left;
    margin: 0 25px;
  }

  .knife-container{
    height: 200px;
  }

  .knife{
    transform: rotate(90deg);
    width: 25%;
    height: auto;
  }

  .history-container{
    margin: 0 25px;
  }
}