.form-input {
    background-color: #040404;
    outline: none;
    border: 1px solid #DCCA87;
    padding: 1rem 0.5rem;
    margin-right: 1.5rem;
    width: 50%;
}

.highlight-newspaper {
    position: relative;
}

.highlight-newspaper::after {
    content: url("../../../assets/spoon.png");
    width: 50%;
    position: absolute;
    left: 25%;
    top: 80%;
    z-index: -1;
}

.newsletter-container{
    border: 1px solid #DCCA87;
    border-top: 0;
    width: 75%;
    padding: 3% 0;
}

@media screen and (max-width: 980px) {
    .form-input{
        width: 70%;
        margin-bottom: 10px;
    }
}