/* ================== fonts ================= */
@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Cormorant+Upright&family=Open+Sans&display=swap');

* {
  margin: 0;
  padding: 0;
}

body {
  background-color: #040404;
  color: #fff;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Cormorant Upright', serif;
  color: #DCCA87;

}

p {
  font-family: 'Open Sans', sans-serif;
  color: #AAAAAA;
}

li {
  font-family: 'Open Sans', sans-serif;
}

.text-white {
  color: #fff;
}

.section-divider {
  margin-top: 20px;
}

.container {
  max-width: 1160px;
  margin: auto;
}

.flex {
  display: flex;
  align-items: center;
}

.justify-center {
  justify-content: center;
}

.justify-between {
  justify-content: space-between;
}

.btn-primary {
  font-family: 'Cormorant Upright', serif;
  font-size: 16px;
  line-height: 28px;
  font-weight: 700;
  background-color: #DCCA87;
  color: #0C0B08;
  padding: 0.5rem 2rem;
  border: 0;
  border-radius: 5px;
}

.margin-auto {
  margin: 0 auto;
}

.grid {
  display: grid;
}

.grid-column-2 {
  grid-template-columns: repeat(2, 1fr);
}

.heading{
  font-weight: 700;
  font-size: 23px;
  line-height: 30px;
}

.highlight {
  position: relative;
}

.highlight::after {
  content: url("./assets/spoon.png");
  width: 50%;
  position: absolute;
  left: 0;
  top: 80%;
  z-index: -1;
}