/* ================== fonts ================= */
@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Cormorant+Upright&family=Open+Sans&display=swap');

* {
  margin: 0;
  padding: 0;
}

body{
  background-color: #040404;
  color: #fff;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Cormorant Upright', serif;
  font-family: 'Open Sans', sans-serif;
  color: #DCCA87;
  
}

p{
  font-family: 'Open Sans', sans-serif;
  color: #AAAAAA;
}

li{
  font-family: 'Open Sans', sans-serif;
}

.container {
  max-width: 1160px;
  margin: auto;
}

.flex{
  display: flex;
  align-items: center;
}

.justify-center{
  justify-content: center;
}

.justify-between{
  justify-content: space-between;
}

.btn-primary{
  background-color: #DCCA87;
  color: #0C0B08;
  padding: 1rem 4rem;
}